
<div *ngIf="book$ | async as book; else loading">
    <h1>{{ book[0].name }}</h1>
    <div class="ui divider"></div>
  <div class="ui grid">
    <div class="four wide column">
        <img class="ui medium image"
        src="{{ book[0].image_url}}"
        bmZoom>
    </div>
    <div class="four wide column">
      <h4>
        First Brewed
      </h4>
      {{ book[0].first_brewed}}
      <h4>
          ABV
        </h4>
        {{ book[0].abv}}
        <h4>
            IBU
          </h4>
          {{ book[0].ibu}}
    </div>
    <div class="four wide column">
      <h4>
          Foods that pair with that beer
      </h4>
      {{ book[0].food_pairing}}
    </div>
    <div class="four wide column">
      <h4>
          Contributor/s
      </h4>
    {{book[0].contributed_by}}
    </div>

  </div>
  <h4>
      Description
    </h4>
    <p>{{ book[0].description }}</p>
</div>
<div style="margin-top:20px;">

<a routerLink="../" class="ui red button">
  <i class="angle left icon"></i>
  <ng-container i18n="Text of the link to the books screen@@HomeComponent:book list link">Back to the list of beers</ng-container>
</a>
</div>
<ng-template #loading>
    <div class="ui active centered inline loader"></div>
  </ng-template>

<!-- <div *ngIf="book$ | async as book; else loading">
  <h1>{{ book.title }}</h1>
  <h3 *ngIf="book.subtitle">{{ book.subtitle }}</h3>
  <div class="ui divider"></div>
  <div class="ui grid">
    <div class="four wide column">
      <h4 i18n="@@book[0]DetailsComponent:book authors">
        Autoren
      </h4>
      <ng-container *ngFor="let author of book.authors">
        {{ author }}<br>
      </ng-container>
    </div>
    <div class="four wide column">
      <h4 i18n="@@BeerDetailsComponent:book isbn">
        ISBN
      </h4>
      {{ book.isbn | isbn }}
    </div>
    <div class="four wide column">
      <h4 i18n="@@BeerDetailsComponent:book published date">
        Erschienen
      </h4>
      {{ book.published | date:'longDate' }}
    </div>
    <div class="four wide column">
      <h4 i18n="@@BeerDetailsComponent:book rating">
        Rating
      </h4>
      <ng-container
        *ngFor="let r of getRating(book.rating);
                index as i">
        <i class="yellow star icon"
          *bmDelay="500 + i * 200"></i>
      </ng-container>
    </div>
  </div>
  <h4 i18n="@@BeerDetailsComponent:book description">
    Beschreibung
  </h4>
  <p>{{ book.description }}</p>
  <div class="ui small images">
    <img *ngFor="let thumbnail of book.thumbnails"
      [src]="thumbnail.url">
  </div>
  <button class="ui tiny red labeled icon button"
          (click)="removeBook()">
    <i class="remove icon"></i>
    <ng-container i18n="@@BeerDetailsComponent:book delete">
      Buch löschen
    </ng-container>
  </button>
  <a class="ui tiny yellow labeled icon button"
    [routerLink]="['../../admin/edit', book.isbn]">
    <i class="write icon"></i>
    <ng-container i18n="@@BeerDetailsComponent:book edit">
      Buch bearbeiten
    </ng-container>
  </a>
</div>


 -->
