
<div *ngIf="beer$ | async as beer; else loading">
    <h1>{{ beer[0].name }}</h1>
    <div class="ui divider"></div>
  <div class="ui grid">
    <div class="four wide column">
        <img class="ui medium image"
        src="{{ beer[0].image_url}}"
        bmZoom>
    </div>
    <div class="four wide column">
      <h4>
        First Brewed
      </h4>
      {{ beer[0].first_brewed}}
      <h4>
          ABV
        </h4>
        {{ beer[0].abv}}
        <h4>
            IBU
          </h4>
          {{ beer[0].ibu}}
    </div>
    <div class="four wide column">
      <h4>
          Foods that pair with that beer
      </h4>
      {{ beer[0].food_pairing}}
    </div>
    <div class="four wide column">
      <h4>
          Contributor/s
      </h4>
    {{beer[0].contributed_by}}
    </div>

  </div>
  <h4>
      Description
    </h4>
    <p>{{ beer[0].description }}</p>
</div>
<div style="margin-top:20px;">

<a routerLink="../" class="ui red button">
  <i class="angle left icon"></i>
  <ng-container i18n="Text of the link to the books screen@@HomeComponent:beer list link">Back to the list of beers</ng-container>
</a>
</div>
<ng-template #loading>
    <div class="ui active centered inline loader"></div>
  </ng-template>