<div class="two wide column">
    <h2>Search: </h2>
    <div class="ui search" >

        <div class="four wide column">

          <div class="ui icon input">

          <input type="text" class="prompt"
            (keyup)="keyUp$.next($event.target.value)">
          <i class="search icon"></i>
        </div>

        <div class="results transition visible"
          *ngIf="foundBooks.length">
          <a class="result"
            *ngFor="let book of foundBooks"
            [routerLink]="['..', 'books', book.id]">
            {{ book.name }}
            <p class="description">{{ book.tagline }}</p>
          </a>
        </div>
      </div>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui middle aligned selection divided list">

  <ng-container *ngIf="books$ | async as books">
    <bm-book-list-item class="item"
      *ngFor="let b of books"
      [book]="b"
      [routerLink]="b.id"></bm-book-list-item>

    <p *ngIf="!books.length"
      i18n="@@BookListComponent:no book">
      Es wurden noch keine Bücher eingetragen.
    </p>
  </ng-container>

  <ng-container *ngIf="loading$ | async">
    <div class="ui active dimmer">
      <div class="ui large text loader"
        i18n="@@BookListComponent:loading data">
        Daten werden geladen...
      </div>
    </div>
  </ng-container>

</div>
