<div class="ui divider"></div>

<div class="ui middle aligned selection divided list">

  <ng-container *ngIf="beers$ | async as beers">
    <bm-beer-list-item class="item"
      *ngFor="let b of beers"
      [beer]="b"
      [routerLink]="b.id"></bm-beer-list-item>

    <p *ngIf="!beers.length">
      Can´t find the beers. Time for a smoothie?
    </p>
  </ng-container>

  <ng-container *ngIf="loading$ | async">
    <div class="ui active dimmer">
      <div class="ui large text loader">
        Getting thirsty...
      </div>
    </div>
  </ng-container>

</div>
