<div class="ui search" [class.loading]="isLoading">
  <div class="ui icon input">
    <input type="text" class="prompt"
      (keyup)="keyUp$.next($event.target.value)">
    <i class="search icon"></i>
  </div>

  <div class="results transition visible"
    *ngIf="foundBeers.length" >
    <a class="result"
      *ngFor="let beer of foundBeers"
      [routerLink]="['..', 'beers', beer.id]">
      <img class="ui mini image"
     src="{{ beer.image_url}}" style="height: 100%">
     <div class="content">
        <div class="header">{{ beer.name }}</div>
        <div *ngIf="beer.tagline" class="description">{{ beer.tagline }}</div>
      </div>
    </a>
  </div>
</div>
