<div class="ui search" [class.loading]="isLoading">
  <div class="ui icon input">
    <input type="text" class="prompt"
      (keyup)="keyUp$.next($event.target.value)">
    <i class="search icon"></i>
  </div>

  <div class="results transition visible"
    *ngIf="foundBooks.length" >
    <a class="result"
      *ngFor="let book of foundBooks"
      [routerLink]="['..', 'books', book.id]">
      <img class="ui mini image"
     src="{{ book.image_url}}" style="height: 100%">
     <div class="content">
        <div class="header">{{ book.name }}</div>
        <div *ngIf="book.tagline" class="description">{{ book.tagline }}</div>
      </div>
    </a>
  </div>
</div>
